@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;       
    
    height: 120px;
    background-color: white;
}
.container {
    display: flex;
    justify-content: space-between;  
    width: 990px;  
}
.logo {
    display: flex;
    align-items: center;   
}
.menu {
    display: flex;    
    align-items: center;
    
}

nav ul {
    display: flex;
    
}
nav a {
    display: block;
    padding: 15px;    
    text-transform: uppercase;
    text-decoration: none;
    color: #727272;
}
nav a:hover {
    background-color: #39aae1;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    height: 670px;
    background-image: url('../imagens/img1.jpg');
    background-repeat: no-repeat;
    background-position: center center;    
    background-size: cover;
}
.column { 
    flex-direction: column;
}
.banner_headline {    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}
.banner_headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.678);
    max-width: 350px;
}
.banner_headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.678);
    max-width: 350px;
    margin-top: 30px;
}
.banner_options {    
    height: 210px;
    display: flex;   
}
.banner1,
.banner2, 
.banner3 {
    flex-grow: 1;
    color: white;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {

}
    
